.nav-item a {
  color: black;
}
.nav-item a :focus {
  color: red;
}


.hero {
  /* height: 50vh; */
  display: block;
  padding-top: 32px;
  padding-bottom: 60px;
}

.hero-logo {
  display: block;
  width: 100%;
  padding-top: 100%;
}

.hero-logo img {
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: -7.5px 10px 1px #edf7fa;
  animation: pulse 8s infinite;
}
.videos img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (min-width: 768px) {
  .hero {
    padding-top: 140px;
    padding-bottom: 80px;
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0px -10px 1px #ed1215;
  }

  12.5% {
    box-shadow: -7.5px -7.5px 1px #d42bb6;
  }

  25% {
    box-shadow: -10px 0px 1px #3919e6;
  }

  37.5% {
    box-shadow: -7.5px 7.5px 1px #3bc492;
  }

  50% {
    box-shadow: 0px 10px 1px #23bcdc;
  }

  62.5% {
    box-shadow: 7.5px 7.5px 1px #28d754;
  }

  75% {
    box-shadow: 10px 0px 1px #c6e11e;
  }

  87.5% {
    box-shadow: 7.5px -7.5px 1px #ed1215;
  }

  100% {
    box-shadow: 0px -10px 1px #4ca0e0;
  }
}

/* 
.heading_center {
  margin-top: 180px;
  font-size: 16px;
} */
/* .heading_center h1 {
  font-weight: 700;
}
.heading_center img {
  width: 220px;
  height: 220px;
  border-radius: 50%;
  margin-left: 18px;
} */
.elipse {
  width: 230px;
  height: 230px;
  background-color: #edf7fa;
  border-radius: 50%;
}

.btn-link {
  font-weight: 400;
  color: #0d6efd;
  text-decoration: none;
}

/* 
.bb .elipse {
  margin-left: 26px;
} */

.about {
  background-color: #edf7fa;
  padding-bottom: 50px;
}

.pad {
  padding-top: 20px;
}

.section_pos {
  padding-bottom: 10px;
}

.cardes {
  padding-bottom: 50px;
}

.font_prew h2 {
  font-weight: 700;
}

.age .btn {
  padding: 0px 10px;
  background-color: #142850;
  color: #fff;
  border-radius: 20px 20px 20px 20px;
}
.colore .btn {
  background-color:  #FF7C7C;
}
.bi {
  font-size: 40px;
}

footer a {
  color: #000;
}
